# Pandas (2)

## Лабораторная работа №2.2

In [ ]:
import pandas as pd
import numpy as np

recipes = pd.read_csv(
    "data/recipes_sample.csv",
    sep=",",
    header=0
)

reviews = pd.read_csv(
    "data/reviews_sample.csv",
    sep=",",
    header=0,
    index_col=0
)

### Работа с датами в `pandas`

2.1 Преобразуйте столбец `submitted` из таблицы `recipes` в формат времени. Модифицируйте решение задачи 1.1 так, чтобы считать столбец сразу в нужном формате.

In [ ]:
recipes.submitted.dtype

In [ ]:
recipes.submitted = pd.to_datetime(recipes.submitted, format="%Y-%m-%d")
recipes.submitted

In [ ]:
recipes.dtypes

2.2 Выведите информацию о рецептах, добавленных в датасет не позже 2010 года.

In [ ]:
new_recipes = recipes[recipes.submitted > '2010-01-01']
new_recipes.head()

### Работа со строковыми данными в `pandas`

3.1  Добавьте в таблицу `recipes` столбец `description_length`, в котором хранится длина описания рецепта из столбца `description`.

In [ ]:
#desc_lens = recipes.description.map(len, na_action = 'ignore')
#desc_lens.name = 'description_length'

desc_lens = recipes["description"].str.len()

pd.concat([recipes, desc_lens], axis=1).head() # Concatenate pandas objects along a particular axis.

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0

3.2 Измените название каждого рецепта в таблице `recipes` таким образом, чтобы каждое слово в названии начиналось с прописной буквы.

In [ ]:
recipes.name = recipes.name.map(lambda x: x.title(), na_action='ignore') # title() - Make the first letter in each word upper case

recipes.head()

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,George S At The Cove Black Bean Soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,Healthy For Them Yogurt Popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,I Can T Believe It S Spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,Italian Gut Busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,Love Is In The Air Beef Fondue Sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN

3.3 Добавьте в таблицу `recipes` столбец `name_word_count`, в котором хранится количество слов из названии рецепта (считайте, что слова в названии разделяются только пробелами). Обратите внимание, что между словами может располагаться несколько пробелов подряд.

In [ ]:
def word_count(str) -> int:
    return(len(str.split()))

name_word_count = recipes.name.map(word_count, na_action='ignore') # dropna() - Remove missing values.
name_word_count.name = 'name_word_count'

pd.concat([recipes, name_word_count], axis=1).head() # Concatenate pandas objects along a particular axis.