# Pandas (1)

## Лабораторная работа №2.1

### Базовые операции с `DataFrame`

1.1 В файлах `recipes_sample.csv` и `reviews_sample.csv` находится информация об рецептах блюд и отзывах на эти рецепты соответственно. Загрузите данные из файлов в виде `pd.DataFrame` с названиями `recipes` и `reviews`. Обратите внимание на корректное считывание столбца с индексами в таблице `reviews` (безымянный столбец).

In [1]:
import pandas as pd

recipes = pd.read_csv(
    "data/recipes_sample.csv",
    sep=",",
    header=0
)

reviews = pd.read_csv(
    "data/reviews_sample.csv",
    sep=",",
    header=0,
    index_col=0 # Column(s) to use as the row labels of the DataFrame, either given as string name or column index. 
)

reviews.head()

,user_id,recipe_id,date,rating,review
370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...

In [2]:
recipes.head()

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN

1.2 Для каждой из таблиц выведите основные параметры:
* количество точек данных (строк);
* количество столбцов;
* тип данных каждого столбца.

In [3]:
# Количество точек данных
recipes.shape[0]

30000

In [4]:
reviews.shape[0]

126696

In [5]:
# Количество столбцов
len(recipes.columns)

8

In [6]:
recipes.shape[1]

8

In [7]:
reviews.shape[1]

5

In [8]:
# Тип данных каждого столбца
recipes.dtypes

name               object
id                  int64
minutes             int64
contributor_id      int64
submitted          object
n_steps           float64
description        object
n_ingredients     float64
dtype: object

In [9]:
reviews.dtypes

user_id       int64
recipe_id     int64
date         object
rating        int64
review       object
dtype: object

1.3 Исследуйте, в каких столбцах таблиц содержатся пропуски. Посчитайте долю строк, содержащих пропуски, в отношении к общему количеству строк.

In [10]:
# В каких столбцах содержатся пропуски
recipes.isna().head(2) # Detect missing values.

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,False,False,False,False,False,True,False,False
1,False,False,False,False,False,True,False,True

In [11]:
# Исследуйте, в каких столбцах таблиц содержатся пропуски.
recipes.count()

name              30000
id                30000
minutes           30000
contributor_id    30000
submitted         30000
n_steps           18810
description       29377
n_ingredients     21120
dtype: int64

In [12]:
# Исследуйте, в каких столбцах таблиц содержатся пропуски.
recipes_len = recipes.shape[0]
mask = recipes.count() < recipes_len
mask

name              False
id                False
minutes           False
contributor_id    False
submitted         False
n_steps            True
description        True
n_ingredients      True
dtype: bool

In [13]:
recipes.loc[:, mask].head()

   n_steps                                        description  n_ingredients
0      NaN  an original recipe created by chef scott meska...           18.0
1      NaN  my children and their friends ask for my homem...            NaN
2      NaN            these were so go, it surprised even me.            8.0
3      NaN  my sister-in-law made these for us at a family...            NaN
4      4.0  i think a fondue is a very romantic casual din...            NaN

In [14]:
# Посчитайте долю строк, содержащих пропуски, в отношении к общему количеству строк.
(recipes_len - recipes.loc[:, mask].count()) / recipes_len

n_steps          0.373000
description      0.020767
n_ingredients    0.296000
dtype: float64

In [15]:
# Тоже самое но для reviews
reviews_len = reviews.shape[0]
mask = reviews.count() < reviews_len
mask

user_id      False
recipe_id    False
date         False
rating       False
review        True
dtype: bool

In [16]:
(reviews_len - reviews.loc[:, mask].count()) / reviews_len

review    0.000134
dtype: float64

1.4 Рассчитайте и выведите на экран среднее значение для каждого из числовых столбцов (где это имеет смысл).

In [17]:
recipes.describe().loc['mean'] # Generate descriptive statistics.

id                2.218793e+05
minutes           1.233581e+02
contributor_id    5.635901e+06
n_steps           9.805582e+00
n_ingredients     9.008286e+00
Name: mean, dtype: float64

In [18]:
recipes.mean(numeric_only=True)

id                2.218793e+05
minutes           1.233581e+02
contributor_id    5.635901e+06
n_steps           9.805582e+00
n_ingredients     9.008286e+00
dtype: float64

In [19]:
reviews.mean(numeric_only=True)

user_id      1.408013e+08
recipe_id    1.600944e+05
rating       4.410802e+00
dtype: float64

In [20]:
# (где это имеет смысл)
recipes.loc[:, ['minutes', 'n_steps', 'n_ingredients']].describe().loc['mean']

minutes          123.358133
n_steps            9.805582
n_ingredients      9.008286
Name: mean, dtype: float64

In [21]:
recipes.loc[:, ['minutes', 'n_steps', 'n_ingredients']].mean(numeric_only=True)

minutes          123.358133
n_steps            9.805582
n_ingredients      9.008286
dtype: float64

In [22]:
reviews.loc[:, ['rating']].mean(numeric_only=True)

rating    4.410802
dtype: float64

In [23]:
reviews.rating.mean()

4.410802235271832

1.5 Создайте и выведите на экран серию из 10 случайных названий рецептов.

In [39]:
import numpy as np

recipes_rindex = np.random.randint(low=0, high=recipes_len, size=10) # recipes_len = 30000
recipes_rnames = recipes.name.iloc[recipes_rindex] # iloc - Purely integer-location based indexing for selection by position.
recipes_rnames

27098                              tenerife banana omelet
27256             thai mango salad with marinated shrimps
15259                              keg s mushroom neptune
3132                                   black bean chowder
4333               cabbage beef stuffed bread buns  runza
28991                             warm   creamy bacon dip
23900    shaker tavern dijonnaise ranch chicken and pasta
15636                               lasagna the irish way
6445                               chocolate biscuit cake
9346                                    dena s kale salad
Name: name, dtype: object

1.6 Измените индекс в таблице `reviews`, пронумеровав строки, начиная с нуля.

In [61]:
reviews.index = range(0, reviews_len)
reviews

,user_id,recipe_id,date,rating,review
0,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
1,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
2,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
3,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
4,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...
126691,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
126692,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
126693,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
126694,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
126695,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

1.7 Выведите информацию о рецептах, время выполнения которых не больше 20 минут и кол-во ингредиентов в которых не больше 5.

In [71]:
recipes[(recipes.minutes <= 20) & (recipes.n_ingredients <= 5)].head()

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
28,quick biscuit bread,302399,20,213909,2008-05-06,11.0,this is a wonderful quick bread to make as an ...,5.0
60,peas fit for a king or queen,303944,20,213909,2008-05-16,NaN,this recipe is so simple and the flavors are s...,5.0
90,hawaiian sunrise mimosa,100837,5,58104,2004-09-29,4.0,pineapple mimosa was changed to hawaiian sunri...,3.0
91,tasty dish s banana pudding in 2 minutes,286484,2,47892,2008-02-13,NaN,"""mmmm, i love bananas!"" a --tasty dish-- origi...",4.0
94,1 minute meatballs,11361,13,4470,2001-09-03,NaN,this is a real short cut for cooks in a hurry....,2.0